<IfModule mod_rewrite.c>
RewriteEngine On
Options -Indexes
RewriteCond %{REQUEST_URI} !^/(install|install/.*)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>